target/
.idea/
*.iws
*.ipr
*.iml
libraries/beans/target/
libraries/executor/target/
libraries/jini/importer/target/
libraries/jini/javaspaces/qi4jtemp/
libraries/jini/javaspaces/target/
libraries/jini/lookup/qi4jtemp/
libraries/jini/lookup/target/
libraries/jini/transaction/qi4jtemp/
libraries/jini/transaction/target/
libraries/registry/target/
libraries/rmi/target/
libraries/thread/target/
libraries/transaction/target/
libraries/validation/target/
extensions/entitystore-javaspaces/target/
extensions/entitystore-jgroups/target/
extensions/entitystore-swift/target/
libraries/spaces/api/target/
libraries/spaces/bootstrap/target/
libraries/spaces/javaspaces/target/
libraries/spaces/tests/target/
libraries/exception/target/
libraries/ldap/client/target/
libraries/ldap/server/target/
libraries/observations/target/
